* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
}

#give-header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://unsplash.it/3264/2448?image=1047);
    background-size: cover;
    padding: 100px 100px 100px 100px;
    color: white;
}

.thumbnail {
    font-family: 'Raleway', sans-serif;
}

.thumbnail-img {
    max-height: 200px;
}

.badge {
    padding: 7px;
    background: #406056;
}

.modal-header {
    background: #D9F5A2;
}

.donate-button {
    background: #406056;
    color: white;
}