* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
}

/*give page*/

#give-header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://unsplash.it/3264/2448?image=1047);
    background-size: cover;
    padding: 100px 100px 100px 100px;
    color: white;
}

/*give card */

.thumbnail {
    font-family: 'Raleway', sans-serif;
}

.thumbnail-house {
    position: relative;
    height: 20vw;
    overflow: hidden;
}

.thumbnail-img {
    position: absolute;
    left: 50%;
    top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
     width: 100%;
     height: auto;
}

.badge {
    padding: 7px;
    background: #406056;
}

/*modal*/

.donate-button,
.modal-header {
    background: #406056;
    color: white;
}

.close-button {
    background: #653B40;
    color: white;
}

