* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

.nav {
    /*background: #FAFAFE;*/
    background: url(/img/absurdidad.png);
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    opacity: 0.7;
}

.nav .btn {
    margin-top: 15px;
}


footer {
    background: url(/img/absurdidad.png);
    font-family: 'Raleway', sans-serif;
    font-size: 5px;
    padding: 20px;
}