* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

.nav {
    background: #406056;
    /*background: url(/img/absurdidad.png);*/
    font-family: 'Raleway', sans-serif;
    padding: 25px;
    color: white;
    border-bottom: 5px solid #D9F5A2;
}

.nav h3 {
    border: 1px solid white;
    padding: 7px;
    margin-top: -7px;
}

.nav ul {
    margin-top: 10px;
}

.nav .btn {
    background: #D9F5A2;
    border: none;
}

.nav .btn:hover {
    background: #E3F7BB;
}


footer {
    background: #406056;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 5px;
    padding: 20px;
}