* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

.nav {
    /*background: #406056;*/
    /*background: url(/img/absurdidad.png);*/
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    color: #994A29;
    /*border-bottom: 5px solid #406056;*/
}

.nav h3 {
    /*border: 1px solid #406056;;*/
    /*padding: 7px;*/
    margin-top: -7px;
}

.nav ul {
    margin-top: 10px;
}

.nav .btn {
    background: #994A29;
    color: white;
    border: none;
}

.nav .btn:hover {
    background: #B47B63;
}


footer {
    background: #994A29;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 5px;
    padding: 20px;
}