* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
}

/*both*/

.user-profile-box {
    margin-top: 25px;
    border: .5px solid lightgrey;
    border-radius: 5px;
    background: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.prof-background {
    display: block;
    /*background: linear-gradient(to top right, #fff 30%, #B47B63 70%)*/
    background: #B47B63;
}

.edit-profile {
    margin-right: 7px;
}

.edit-profile,
.delete-profile {
    margin-bottom: 10px;
}

#location {
    margin-top: -20px;
    color: #576490; 
}




/*user profile*/

#profile-picture {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.thumbnail {
    margin-top: 25px;
    margin-bottom: 25px;
}

.edit-causes {
    margin-bottom: 20px;
}

/*org profile */

.requests {
    margin-left: 20px;
}

.to-request {
    background: #994A29;
    color: white;
    margin-bottom: 20px;
}